<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>JSPBasicProject-05</display-name>
  <!-- 
  	1. servlet 등록=> Spring, MVC
  	2. Filter=> 한글변환코드 작성
  	3. error 처리
  	============================ 톰캣이 읽어서 처리할 수 있게 환경설정
  	=> web과 관련된 분석
  		가. web.xml
  		나. server.xml
  		다. 자바클래스
  		라. JSP
   -->
  <error-page>
  	<error-code>400</error-code>
  	<location>/dataBoard/400.jsp</location>
  </error-page>
  <error-page>
  	<error-code>404</error-code>
  	<location>/dataBoard/404.jsp</location>
  </error-page>
  <error-page>
  	<error-code>500</error-code>
  	<location>/dataBoard/500.jsp</location>
  </error-page>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>