<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <!-- 
 	PrepareStatement	ResultSet
 	================    =========
 		   SQL			resultType
  -->
<mapper namespace="com.sist.dao.food-mapper">
	<select id="categoryListData" resultType="CategoryVO">
		SELECT * FROM category
	</select>
	<select id="middleListData" resultType="FoodVO" parameterType="int">
		SELECT no,title,address,tel,image,score	
		FROM foodhouse
		WHERE cno=#{cno}
	</select>
	<select id="detailData" resultType="FoodVO" parameterType="int">
		SELECT * FROM foodhouse
		WHERE no=#{no}
	</select>
</mapper>  